h2{
    text-align: center;
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 
    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.accordion {
    background-color: rgb(35, 226, 146);
    color: rgb(0, 2, 128);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    font-size: 25px;
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 
    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: .9s;
    border: 1px solid gray;
}
.accordion:after {
    content: '+';
    color: black;
    font-weight: bold;
    float: right;
  }


.active, .accordion:hover {
    background-color: rgb(211, 208, 208); 
}

.content {
    padding: 0 18px;
    display: none;
    background-color: rgb(245, 245, 245);
    border: 2px solid black;
}